@include media-breakpoint-up(md) {
  .w-md-auto {
    width: auto !important;
  }

  .fs-md-2 {
    font-size: $h2-font-size !important;
  }

  .fs-md-6 {
    font-size: $h6-font-size !important;
  }

  .fw-md-bold {
    font-weight: bold !important;
  }
}