.index-Card {
  background-color: $light;

  img {
    height: 350px;
  }

  // &__body {
  //   max-height: 350px;
  // }
}

.subscribeInput {
  max-width: 350px;
  //  @include media-breakpoint-down(sm){
  //    w100
  //  }
}