.bgCoverCenter {
  background-size: cover;
  background-position: 50% 50%;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include media-breakpoint-up(md) {
  .position-md-absolute {
    position: absolute !important;
  }

  .translate-md-middle {
    transform: translate(-50%, -50%)
  }
}